@model IEnumerable<Staff>
@{
    ViewBag.listActive = "active";
}
<h2>List Page</h2>
<h2>From Session @ViewData["Name"]</h2>
<p>The .table-hover class enables a hover state (grey back:</p>

<partial name="_StaffTable" model="@Model" />
